
@media screen and (min-width: 766px){
  .theMode{
    text-align: left;
    padding-left: 3%;
    font-weight: bold;
    margin-top: -10%;
  }
}

@media screen and (max-width: 765px){
  .theMode{
    text-align: left;
    padding-left: 3%;
    font-weight: bold;
    margin-top: 30%;
  }
}


.try{
  /*background: url('') no-repeat;*/
  /*background: blue;*/
  width: 100vw;
  height: 400px;
  margin-top: 0px;
}

/*body{
  background: black;
}*/

.contact{
  background-color: blue;
  height: 80vh;
  weight:100vw;
}

/****/

/**/
.content1{
    margin-top: 20px;
    margin-bottom: 70px;
}

 #Cart1{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 10px;
    max-width: 960px;
    margin: 0 auto;
    /*margin-top: 100px;*/
    grid-template-areas:
        "mainA mainA mainA"
        "footerA footerA footerA";
}
/* desktop grid */
@media screen and (min-width: 766px){
.content{
    margin-top: 65px;
    margin-bottom: 100px;
}
#Cart1{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 10px;
  max-width: 95%;
  margin: 0 auto;
        grid-template-areas:
             "mainA mainA"
             "footerA footerA";

}

.nested1{
               display: grid;
               grid-template-columns: 30vw 30vw 30vw;
               grid-gap: 1px;
               grid-auto-rows: minmax(100px, auto);
               max-width: 90vw;
               text-align: center;
           }
           .nested1 p{
                           /*border: 2px solid rgba(0,0,0);*/
                           background: rgba(0,0,128);
                           color: rgba(255,255,255);
                           height: 200px;
                           margin: 1px;
                           /*transition-duration: 10000ms;
                           transition-property: background-color;*/
                       }
                       .nested1 p:hover{
                           background: rgba(248, 148, 6, 1);
                           /*transform: rotate(45deg);*/
                       }
}
#Cart1 > *{
background: rgba(0,0,0,0.5);
padding: 30px;
}
mainA{
    grid-area: mainA;
}
mainB{
    grid-area: mainB;
}
footerA{
    grid-area: footerA;
}

.main2{
                /*background: url('../brewsterImages/douSter1.jpg');*/
                position: relative;
                overflow: hidden;
                box-shadow: 0 2px 20px rgba(0,0,0,0.8);
                /*height: 500px;*/
            }
            .main2:before{
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                /*background-color: rgba(0,0,0,0.9);*/
                background-color: red;
            }
            .main2 .img-area{
               position: absolute;
               top: 0;
               left: 0;
               width: 100%;
               height: 100%;
               display: flex;
            }
            .main2 .img-area span{
                width: 20%;
                height: 100%;
                /*background: url('../brewsterImages/douSter1.jpg');*/
                background: blue;
                transition: 0.5s;
            }
            .main2 .img-area span:nth-child(1){
                background-position: 0;
                transition-delay: 0;
            }
            .main2 .img-area span:nth-child(2){
                background-position: 25%;
                transition-delay: 0.1s;
            }
            .main2 .img-area span:nth-child(3){
                background-position: 50%;
                transition-delay: 0.2s;
            }
            .main2 .img-area span:nth-child(4){
                background-position: 75%;
                transition-delay: 0.3s;
            }
            .main2 .img-area span:nth-child(5){
                background-position: 100%;
                transition-delay: 0.4s;
            }
            .main2:hover .img-area>span{
                transform: translateY(-100%);
            }
            .main2:hover .img-text{
                transform: translateY(0);
                transition: 1s;
                transition-delay: 0.1s;
            }
            .img-text{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                color: #fff;
                padding: 20px;
                width: 100%;
                height: 100%;
                transform: translateY(100%);
                text-align: center;
                box-sizing: border-box;
            }
            .img-text h2{
                margin: 5px 0;
            }
            .img-text h3{
                margin: 5px 0;
                font-size: 14px;
            }

            /***/
            .hero {
             position: relative;
             /*background: url(http://www.philippefercha.com/cd/toggle-menu-bg.jpg) no-repeat center center fixed;*/
             /*background: url('') no-repeat center center fixed;*/
             /*background: blue;
             -webkit-background-size: cover;
             -moz-background-size: cover;
             background-size: cover;*/
             text-align: center;
             color: #fff;
             padding-top: 0px;
             /*min-height: 500px;*/
             height: 90vh;
             letter-spacing: 2px;
             font-family: "Montserrat", sans-serif;
             /*animation: show 2000ms;*/
           }
           .hero h1 {
             font-size: 50px;
             line-height: 1.3;
             margin-top: 15px;
             /*margin-right: 70%;*/
           }
           .hero h1 span {
             font-size: 25px;
             color: #e8f380;
             border-bottom: 2px solid #e8f380;
             padding-bottom: 12px;
             line-height: 3;
           }

           /*@keyframes show{
             0%{
               background: url()no-repeat center center fixed;
               background-size: cover;
             }
             50%{
               background: url()no-repeat center center fixed;
               background-size: cover;
             }
             100%{
               background: url()no-repeat center center fixed;
               background-size: cover;
             }
           }*/

           /***/
           .content2{
               margin-top: 100px;
               margin-bottom: 70px;
           }

            #Cart2{
               display: grid;
               grid-template-columns: repeat(2, 1fr);
               grid-auto-rows: minmax(100px, auto);
               grid-gap: 10px;
               max-width: 960px;
               margin: 0 auto;
               /*margin-top: 100px;*/
               grid-template-areas:
                   "mainA mainA"
                   "mainB mainB"
                   "footerA footerA";
           }
           /* desktop grid */
           @media screen and (min-width: 766px){
             body{
               background:  ;
             }
           .content2{
             margin-top: 0px;
             margin-bottom: 0px;
             height: 100vh;
           }
           #Cart2{
             display: grid;
             grid-template-columns: repeat(2, 1fr);
             grid-auto-rows: minmax(100px, auto);
             grid-gap: 10px;
             max-width: 95%;
             margin: 0 auto;
                   grid-template-areas:
                        "mainA mainB"
                        "footerA footerA";

           }

           .nested1{
                          display: grid;
                          grid-template-columns: 30vw 30vw 30vw;
                          grid-gap: 1px;
                          grid-auto-rows: minmax(100px, auto);
                          max-width: 90vw;
                          text-align: center;
                      }
                      .nested1 p{
                                      /*border: 2px solid rgba(0,0,0);*/
                                      background: rgba(0,0,128);
                                      color: rgba(255,255,255);
                                      height: 200px;
                                      margin: 1px;
                                      /*transition-duration: 10000ms;
                                      transition-property: background-color;*/
                                  }
                                  .nested1 p:hover{
                                      background: rgba(248, 148, 6, 1);
                                      /*transform: rotate(45deg);*/
                                  }
           }
           #Cart2 > *{
           background: rgba(0,0,0,0.0);
           padding: 30px;
           }
           mainA{
               grid-area: mainA;
               height: 60vh;
           }
           mainB{
               grid-area: mainB;
               height: 60vh;
           }
           footerA{
               grid-area: footerA;
           }
